<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card id="1" photoCover="https://media.istockphoto.com/id/157528154/pt/foto/jornal.jpg?s=612x612&w=0&k=20&c=sxLZhAObemNwfNxhyW9dTINsA_aPiJLiSPOJjLsAqxA=" cardTitle="NOVA NOTÍCIA FRESQUINHA" cardDescription="Notícia maravilhosa sobre alguma coisa fazendo referência à vários babados"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card id="2" photoCover="https://media.istockphoto.com/id/1219980553/pt/foto/online-news-on-a-smartphone-and-laptop-woman-reading-news-or-articles-in-a-mobile-phone-screen.jpg?s=612x612&w=0&k=20&c=oB8EHx0bWE2CkCzmRQGTTuNZEhYu0SXBG0oAV8z_CMA=" cardTitle="Titulo noticia 1"></app-small-card>
    <app-small-card id="3" photoCover="https://media.istockphoto.com/id/1219980553/pt/foto/online-news-on-a-smartphone-and-laptop-woman-reading-news-or-articles-in-a-mobile-phone-screen.jpg?s=612x612&w=0&k=20&c=oB8EHx0bWE2CkCzmRQGTTuNZEhYu0SXBG0oAV8z_CMA=" cardTitle="Titulo noticia 2"></app-small-card>
    <app-small-card id="4" photoCover="https://media.istockphoto.com/id/1219980553/pt/foto/online-news-on-a-smartphone-and-laptop-woman-reading-news-or-articles-in-a-mobile-phone-screen.jpg?s=612x612&w=0&k=20&c=oB8EHx0bWE2CkCzmRQGTTuNZEhYu0SXBG0oAV8z_CMA=" cardTitle="Titulo noticia 3"></app-small-card>
  </div>
</div>
